@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.icons {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
}

.button {
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #aaa6c3;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.button:hover {
  width: 200px;
}

.button:hover span {
  transform: translateX(0);
}

.button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.5s ease-out;
}

.button:nth-child(1) .icon {
  background: #4267b2;
}

.button:nth-child(2) .icon {
  background: #1da1f2;
}

.button:nth-child(3) .icon {
  background: #e1306c;
}

.button:nth-child(4) .icon {
  background: #333;
}

.button:nth-child(5) .icon {
  background: #0A66C2;
}

.button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.button:hover .icon i {
  color: #fff;
}

.button span {
  position: absolute ;
  align-items: center;
  justify-content: center;
  left: 70px;
  top: 0;
  transform: translateX(100%);
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  white-space: nowrap;
  transition: all 0.3s ease-out;
}

.button:nth-child(1) span {
  color: #000;
}

.button:nth-child(2) span {
  color: #000;
}

.button:nth-child(3) span {
  color: #000;
}

.button:nth-child(4) span {
  color: #000;
}

.button:nth-child(5) span {
  color: #000;
}
