.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  margin: 10px;
  position: relative;
  width: 100px;
  height: 40px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.button:hover .icon {
  transform: rotate(360deg);
}

.button:hover {
  width: 200px;
}

.button:hover span {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  transform: translateX(0%);
}

span {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 60px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #000;
  transition: 0.5s;
}
